<div style="min-height: 276px;" class="content-wrapper ng-scope">
	<section class="content-header">
		<h1>Dashboard
      </h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		</ol>
	</section>
	<section class="content clearfix">
		<div class="box">
			<div class="content clearfix">
                
				<div ng-show="!agencies || agencies.length <1">
					<br><br><br><br><br>
					<div class="callout callout-info lead">
						<h4>Welcome to LifeShareCare.</h4>
						<p>More features to come soon.</p>
					</div>
				</div>
                
            </div>
		</div>
	</section>
</div>
