<div style="min-height: 276px;" class="content-wrapper ng-scope" ng-init="getAllInvites()">
	<section class="content-header">
		<h1>Agencies Invitations<small>list of all agencies invited to register with Life Share Care</small>
      </h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>

			<li class="active">Agencies</li>
		</ol>
	</section>
	<section class="content clearfix">
		<div class="box">
			<div class="content clearfix">
                <div class="col-md-12">
                    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#agencyModal">Invite a new Agency</button>
                </div>
                <div class="col-md-12">
                    <div role="alert" class="alert alert-success alert-dismissible fade in" ng-if="pageMsg">
                        <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                           <p>{{pageMsg}}</p>
                    </div>
                </div>
				<div ng-show="!agencies || agencies.length <1">
					<br><br><br><br><br>
					<div class="callout callout-info lead">
						<h4>Sorry! No records found.</h4>
						<p>Start sending invites and they will be listed here.</p>
					</div>
				</div>
                <div class="col-md-12" ng-if="agencies && agencies.length >0">
                    <table ng-table="tableParams" class="table table-hover col-md-8" >
                        <tr ng-repeat="agncy in $data">
                            <td title="'#'" >
                                {{$index+1}}
                            </td>    
                            <td title="'Email'" sortable="'email'">
                                {{agncy.email}}
                            </td>
                            <td title="'Expires on'"  >
                                {{agncy.expired_on | date:medium}}
                                <!--<span ng-if="agncy.createdAt >date">
                                    Active
                                </span>
                                <span ng-if="agncy.createdAt <=date">
                                    Expired
                                </span>-->
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
		</div>
	</section>
</div>

<div class="modal fade" id="agencyModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Invite a new agency</h4>
			</div>
			<form name="addAgency" novalidate >
                <div class="modal-body">
                    <div role="alert" class="alert alert-danger alert-dismissible fade in" ng-if="addMsg">
                        <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                           <p>{{addMsg}}</p>
                    </div>
                        <div class="form-group col-md-12">
                            <label class="form-controll col-md-4"> Email </label>
                            <input type="email" name="email" class="form-controll col-md-8" ng-model="agency.email_id" >
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveAgency()" ng-disabled="addAgency.$invalid">Save changes</button>
                </div>
            </form>
		</div>
	</div>
</div>